@charset "UTF-8";

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	background-color: #fff;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 40;
	font-size: $text;
	font-family: 'Open Sans', sans-serif;
	color: $black;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	display: inline-block;
	cursor: pointer;
	box-shadow: none;
	background-color: transparent;
	background: none;

}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	// display: inline-block;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

// img {
// 	vertical-align: top;
// 	width: 100%;
// 	height: auto;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// max-width: 1440px;
	// margin: 0 auto;
}

.container {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

// ._ibg img {
// 	position: relative;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// object-fit: cover;
// }

.btn,
a.btn {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

svg {
	display: block;
	width: 0;
	height: 0;
}

section h2 {
	font-family: 'Kurale', serif;
	font-size: 42px;
	line-height: 1.14;
	text-transform: uppercase;
	color: $black;
}

.desc {
	font-size: 16px;
	line-height: 1.75;
	color: $black;


	&>*:not(:last-child) {
		margin-bottom: 26px;
	}

	&--01 {
		text-align: center;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.56;
	}
}

// .none {
// 	display: none !important;
// }

.chapter {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: $white;
}