@media (min-width:576px) {
	.form input {
		flex: 0 1 49%;
	}

	.events__img {
		display: flex;
		flex-direction: row;
		max-width: 475px;
		border-radius: 5px;
		filter: drop-shadow(0px 0px 50px #000000);


		img {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 5px 0 0 5px;

		}
	}


	.events__block {
		max-width: 80px;
		height: auto;
		background: $black;
		border-radius: 0px 5px 5px 0px;

		&--01 {
			padding: 20px 0 0;
		}

		&--02 {
			padding-top: 115px;
		}
	}

	.events__name {
		font-family: 'Kurale', serif;
		font-size: 21px;
		text-indent: 20px;
		text-transform: uppercase;
		color: $white;
		// transform: rotate(90deg);
		writing-mode: vertical-lr;

		&--02 {
			transform: rotate(180deg);
		}
	}
}



@media (min-width:882px) {
	.desc {

		&--01,
		&--02,
		&--03 {
			margin: 0 auto;
			max-width: 543px;
		}
	}

	.events__img {
		&:nth-child(3n-2) {
			&::after {
				@include circle;
				left: -115px;
			}
		}

		&:nth-child(2n) {
			&::after {
				@include circle;
				right: -200px;
			}
		}
	}

	.events__row {
		align-items: center;
	}
}

@media (max-width:1440px) {
	.team__text {
		flex: 0 1 100%;
		margin-bottom: 50px;
	}

	.team__img {
		margin: 0 auto;
	}

	.order__reserve {
		flex: 0 1 100%;
		margin-bottom: 30px;
	}

	.order__img {
		margin: 0 auto;
	}

	.spec__text {
		flex: 0 1 100%;
	}

	.spec__img {
		margin: 50px auto 0;
	}

	.events__row {
		flex-direction: column;

		&>*:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	.events__row>*:not(:last-child) {
		margin-right: 0;
	}
}

@media (max-width:1399px) {
	.about__text {
		flex: 0 1 100%;
		text-align: center;
	}

	.about__img {
		margin: 50px auto 0;
	}
}

@media (max-width:1076px) {
	.menu__choice {
		flex-direction: column;
	}

	.food:not(:first-child) {
		margin-top: 35px;
	}
}

@media (max-width:992px) {
	.top-menu__item {
		display: none;
	}

	.top-menu {
		margin-bottom: 100px;
	}

	.socials {
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		&>*:not(:last-child) {
			margin-right: 40px;
			margin-bottom: 0;
		}
	}

	.home__text {
		margin: 0 auto;
	}

	.time-work {
		display: none;
	}

	.time-media {
		display: block;
	}

	.about {
		padding: 70px 0;
	}

	.menu {
		padding: 50px 0;
	}

	.contacts__button {
		margin: 30px auto 0;
		width: 90%;
	}

	.contacts__form textarea {
		margin-bottom: 21px;

	}
}


@media (max-width:768px) {
	.contacts__form input {
		flex: 0 1 100%;
	}

	.contacts {
		padding: 40px 0 70px;
	}

	.events__row {
		align-items: flex-start;
	}
}

@media (max-width:670px) {
	.spec {
		padding: 46px 0 80px;
	}

	.menu__buttons {
		margin-bottom: 50px;
	}

	.food:not(:first-child) {
		margin-top: 20px;
	}

	.food__price {
		margin-bottom: 12px;
	}

}

@media (max-width:576px) {
	.top-menu {
		margin-bottom: 70px;
	}

	.home__buttons {
		margin-bottom: 60px;

		&>* {
			flex: 0 1 100%;
			margin-right: 0 !important;
		}

		&>*:not(:last-child) {
			margin-bottom: 25px;
		}

	}

	.home__text-name h1 {
		line-height: 1;
	}

	.home__text-desc {
		margin-bottom: 50px;
	}

	.order {
		padding: 60px 0 40px;
	}

	.contacts__button {
		width: 100%;
	}
}

@media (max-width:536px) {
	.food {
		justify-content: center;
	}

	.contacts__address {
		flex-direction: column;

		&>*:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

@media (max-width:500px) {
	.menu__section {
		width: 50%;
		border: 1px solid rgba(51, 51, 51, 0.2);

		&:last-child {
			border: 1px solid rgba(51, 51, 51, 0.2);
		}
	}
}

@media (max-width:476px) {
	.desc {
		font-size: 14px;

		&--01 {
			font-size: 16px;
		}
	}

	.about {
		padding: 50px 0;
	}

	section h2 {
		font-size: 35px;
	}

	.chapter {
		margin-bottom: 40px;
	}

	.team {
		padding: 46px 0 80px;
	}

	.menu__section {
		width: 100%;
	}

	.events__name {
		font-size: 17px;
	}

}