$yellow:#E8C300;
$white:#fff;
$black:#000;
$text:18px;

@mixin flex($jc, $ai) {
	display: flex;
	flex-wrap: wrap;
	justify-content: $jc;
	align-items: $ai;
}

@mixin line($px) {
	content: "";
	position: absolute;
	bottom: $px;
	left: 50%;
	transform: translateX(-50%);
	background: #E8C300;
	border-radius: 50px;
	width: 60px;
	height: 5px;
}

@mixin circle {
	content: "";
	width: 250px;
	height: 250px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: 20px solid #E8C300;
	box-sizing: border-box;
	filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
	border-radius: 125px;
}