.about {
	padding: 100px 0;
}

.about__row {
	@include flex(space-between, center);
}

.about__text {
	flex: 0 1 50%;
	text-align: center;
}

.title {
	text-align: center;
	padding-bottom: 10px;
	position: relative;
	margin-bottom: 57px;

	&::after {
		@include line(-10px);
	}
}

.about__img {
	position: relative;

	&::after {
		@include circle;
		right: -84px;
	}

	img {
		width: 100%;
		height: auto;
		filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
		border-radius: 5px;
	}
}