.footer {
	// display: flex;
	// flex-direction: column;
}

.footer__map {
	// min-height: 475px;

	img {
		width: 100%;
		min-height: 475px;
		// object-fit: cover;
	}
}

.footer__copyright {
	background: rgba(0, 0, 0, 0.9);
	height: 37px;
	line-height: 37px;
	font-size: 12px;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
}